* {
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #161616;

}
body.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-start {
    font-size: 20px;
    margin: 10px;
}
.help-me {
    font-size: 19px;
}
h2 {
    font-size: 70px;
    color: grey;
}
#the {
    color: yellow;
}
#color {
    color: green;

}
#matching {
    color: blue;
}
#game {
    color: red;
}
#game-name {
    font-size: 45px;
    color: grey;
}
.score-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 1;
    margin-top: 70px;
    gap: 80px;
    width: 100vw;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.score {
    font-size: 37px;
    margin-left: 170px;
    padding: 5px 60px 5px 60px;
    border: 4px solid grey;
    background-color: #f5f5f5;
    color: black;
}
.level {
    font-size: 37px;
    margin-right: 170px;
    padding: 5px 60px 5px 60px;
    border: 4px solid grey;
    background-color: #f5f5f5;
    color: black;
}
.color-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 25px;
    height: 70vh;
    width: 100vw;
}
.color-red.lit {
    box-shadow: 0px 0px 30px red;
}
.color-red {
    background-color: #EA0000;
    height: 180px;
    width: 180px;
}
.color-red:hover {
    box-shadow: 0px 0px 30px red;
}
.color-blue.lit {
    box-shadow: 0px 0px 30px rgb(57, 57, 255);
}
.color-blue {
    background-color: #000BF5;
    height: 180px;
    width: 180px;
}
.color-blue:hover {
    box-shadow: 0px 0px 30px rgb(57, 57, 255);
}
.color-yellow.lit {
    box-shadow: 0px 0px 30px rgb(255, 255, 68);
}
.color-yellow {
    background-color: #E7F000;
    height: 180px;
    width: 180px;
}
.color-yellow:hover {
    box-shadow: 0px 0px 30px rgb(255, 255, 68);
}
.color-green.lit {
    box-shadow: 0px 0px 30px green;
}
.color-green {
    background-color: green;
    height: 180px;
    width: 180px;
    padding: 1.5rem;
}
.color-green:hover {
    box-shadow: 0px 0px 30px green;
}
.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: flex-end;
    height: 10vh;
    width: 100vw;
}
.remove {
    visibility: hidden;
}
